{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block page_title %}
        BUL good-code
        {% endblock page_title %}
    </title>
    <!-- <link href="{% static 'css/all_search_css_pretty-print.css' %}" rel="stylesheet" type="text/css"/> -->
    <!-- <script src="{% static 'js/jquery_3-3-1.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/bootstrap_3-3-7.min.js' %}"></script> -->
    {% block extra_css %}
    {% endblock extra_css %}

    <style type="text/css">
        div.container span#hide {
            /*visibility: hidden;*/
            display: none;
        }
        div#content_wrapper {
            margin:0 auto;
            width: 80%;
        }
        div#footer {
            padding-top: 1em;
        }
    </style>

</head>

<body>


    <!-- PATTERN-LIBRARY-HEADER start... -->
    {{ pattern_header | safe }}
    <!-- PATTERN-LIBRARY-HEADER end -->


    <link href="{% static 'css/local.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/all_search_css_pretty-print.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery_3-3-1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap_3-3-7.min.js' %}"></script>

    <div id="content_wrapper">
        {% block content %}
        {% endblock content %}
    </div>

    <div id="footer">
        <hr/>
    </div>

</body>

</html>
