{% extends "bul_cbp_app_templates/base.html" %}


{% block page_title %}
cbp info
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    div#info_text {
        margin-top: 2em;
    }
    pre#info {
        margin:0 auto;
        width: 80%;
    }
</style>
{% endblock extra_css %}


{% block content %}

<h1>code-best-practices &mdash; info</h1>

<div id="info_text">

    <p>
        This is a django webapp that manages localized code-best-practices checks. Its three primary functions:
    </p>
    <ul>
        <li>
            <p>Serves out a dynamically-updated badge on a load of a github readme page.</p>
        </li>
        <li>
            <p>Provides a public-display of some of the underlying data that produces the badge score.</p>
        </li>
        <li>
            <p>Provides a link for authorized users to use a lightweight admin to edit an existing project&rsquo;s best-practices checklist or create a new-project checklist.</p>
        </li>
    </ul>
    <p>For more information, please see the project's <a href="https://github.com/birkin/bul_cbp_project/blob/master/README.md">README</a> file.</p>

</div>  <!-- end <div id="info_text"> -->

{% endblock content %}
