{% extends "bul_cbp_app_templates/base.html" %}

{% load markdown_extras %}


{% block page_title %}
cbp project-info
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    div#info_text {
        margin-top: 2em;
    }
    pre#info {
        margin:0 auto;
        width: 80%;
    }
    img#score {
        margin-top: .5em;
    }
    ul {
        margin-top: 1em;
    }
    span.no {
        font-weight: bold;
        color: red;
    }
</style>
{% endblock extra_css %}


{% block content %}

<h1>code-best-practices &mdash; project-info</h1>

<div id="info_text">

    <h2><strong>project: {{ project_name }} </strong></h2>

    <p><img id="score" src="{{ score_image_url }}" alt="image showing score"></img></p>

    <h3>public elements</h3>
    <ul>
        {% comment %} publicly-viewable elements {% endcomment %}
        <li>
            <p>code is versioned:
                <span {% if code_versioned == "no" %}class="no"{% endif %}">{{ code_versioned }}</span>
                {% if authenticated %} &mdash; <span {% if not code_versioned_CHECKED.fresh %}class="no"{% endif %}">({{ code_versioned_CHECKED.date }})</span>{% endif %}
            </p>
        </li>
        <li>
            <p>has public code-url:
                <span {% if has_url == "no" %}class="no"{% endif %}>{{ has_url }}</span>
                {% if authenticated %} &mdash; <span {% if not has_public_code_url_CHECKED.fresh %}class="no"{% endif %}">({{ has_public_code_url_CHECKED.date }})</span>{% endif %}
            </p>
        </li>
        <li>
            <p>is responsive:
                <span {% if responsive == "no" %}class="no"{% endif %}>{{ responsive }}</span>
                {% if authenticated %} &mdash; <span {% if not responsiveness_CHECKED.fresh %}class="no"{% endif %}">({{ responsiveness_CHECKED.date }})</span>{% endif %}
            </p>
        </li>
        <li>
            <p>contains lightweight data-reporting:
                <span {% if reports == "no" %}class="no"{% endif %}>{{ reports }}</span>
                {% if authenticated %} &mdash; <span {% if not contains_lightweight_data_reporting_CHECKED.fresh %}class="no"{% endif %}">({{ contains_lightweight_data_reporting_CHECKED.date }})</span>{% endif %}
            </p>
        </li>
        <li>
            <p>is accessible:
                <span {% if accessibility == "no" %}class="no"{% endif %}">{{ accessibility }}</span>
                {% if authenticated %} &mdash; <span {% if not accessibility_check_run_CHECKED.fresh %}class="no"{% endif %}">({{ accessibility_check_run_CHECKED.date }})</span>{% endif %}
            </p>
        </li>
        <li>
            <p>data is discoverable:
                <span {% if discoverable == "no" %}class="no"{% endif %}>{{ discoverable }}</span>
                {% if authenticated %} &mdash; <span {% if not data_discoverable_CHECKED.fresh %}class="no"{% endif %}">({{ data_discoverable_CHECKED.date }})</span>{% endif %}
            </p>
        </li>
        <li>
            <p>has site-checker entry:
                <span {% if has_sitechecker_entry == "no" %}class="no"{% endif %}>{{ has_sitechecker_entry }}</span>
                {% if authenticated %} &mdash; <span {% if not has_sitechecker_entry_CHECKED.fresh %}class="no"{% endif %}">({{ has_sitechecker_entry_CHECKED.date }})</span>{% endif %}
            </p>
        </li>
        <li>
            <p>contact: {{ contact }}
                {% if authenticated %} &mdash; <span {% if not project_contact_email_CHECKED.fresh %}class="no"{% endif %}">({{ project_contact_email_CHECKED.date }})</span>{% endif %}
            </p>
        </li>
    </ul>
    {% comment %} authenticated-only elements {% endcomment %}
    {% if authenticated %}
    <h3>non-public elements</h3>
    <ul>
        <li>
            <p>framework supported:
                <span {% if framework_supported == "no" %}class="no"{% endif %}">{{ framework_supported }}</span>
                 &mdash; <span {% if not framework_supported_CHECKED.fresh %}class="no"{% endif %}">({{ framework_supported_CHECKED.date }})</span>
            </p>
        </li>
        <li>
            <p>https enforced:
                <span {% if https_enforced == "no" %}class="no"{% endif %}">{{ https_enforced }}</span>
                 &mdash; <span {% if not https_enforced_CHECKED.fresh %}class="no"{% endif %}">({{ https_enforced_CHECKED.date }})</span>
            </p>
        </li>
        <li>
            <p>admin-links shib-protected:
                <span {% if admin_links_shib_protected == "no" %}class="no"{% endif %}">{{ admin_links_shib_protected }}</span>
                 &mdash; <span {% if not admin_links_shib_protected_CHECKED.fresh %}class="no"{% endif %}">({{ admin_links_shib_protected_CHECKED.date }})</span>
            </p>
        </li>
        <li>
            <p>logs rotated:
                <span {% if logs_rotated == "no" %}class="no"{% endif %}">{{ logs_rotated }}</span>
                 &mdash; <span {% if not logs_rotated_CHECKED.fresh %}class="no"{% endif %}">({{ logs_rotated_CHECKED.date }})</span>
            </p>
        </li>
        <li>
            <p>patron-data expiration-policy implemented:
                <span {% if patron_data_expiration_process == "no" %}class="no"{% endif %}">{{ patron_data_expiration_process }}</span>
                 &mdash; <span {% if not patron_data_expiration_process_CHECKED.fresh %}class="no"{% endif %}">({{ patron_data_expiration_process_CHECKED.date }})</span>
            </p>
        </li>
        <li>
            <p>session-data expiration handled:
                <span {% if django_session_data_expired == "no" %}class="no"{% endif %}">{{ django_session_data_expired }}</span>
                 &mdash; <span {% if not django_session_data_expired_CHECKED.fresh %}class="no"{% endif %}">({{ django_session_data_expired_CHECKED.date }})</span>
            </p>
        </li>
        <li>
            <p>emails admin on webapp-error:
                <span {% if emails_admin_on_error == "no" %}class="no"{% endif %}">{{ emails_admin_on_error }}</span>
                 &mdash; <span {% if not emails_admin_on_error_CHECKED.fresh %}class="no"{% endif %}">({{ emails_admin_on_error_CHECKED.date }})</span>
            </p>
        </li>
        <li>
            <p>vulnerabilities fixed <i>(eg github security vulnerability warnings)</i>:
                <span {% if vulnerabilities_fixed == "no" %}class="no"{% endif %}">{{ vulnerabilities_fixed }}</span>
                 &mdash; <span {% if not vulnerabilities_fixed_CHECKED.fresh %}class="no"{% endif %}">({{ vulnerabilities_fixed_CHECKED.date }})</span>
            </p>
        </li>
    </ul>
    <h3>notes</h3>
    <div>
        {{ notes | markdown | safe }}
    </div>
    {% endif %}
    <hr/>
    <p>BUL developers, <a href="{{ login_url }}">log-in</a> to see additional info, and use the <a href="{{ admin_url }}">admin</a> to create or update project-entries.</p>


</div>  <!-- end <div id="info_text"> -->

{% endblock content %}
